@page
@model ServiceTypes.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2 class="text-info">Service Type Details</h2><br />


<form method="post">
    <div class="backgroundWhite">
        <input type="hidden" asp-for="ServiceType.Id"/>
        <div class="form-group row">
            <div class="col-lg-2">
                <label asp-for="ServiceType.ServiceName"></label>
            </div>
            <div class="col-lg-5">
                <input asp-for="ServiceType.ServiceName" class="form-control" readonly="true"/>
            </div>
            <span asp-validation-for="ServiceType.ServiceName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-lg-2">
                <label asp-for="ServiceType.ServicePrice"></label>
            </div>
            <div class="col-lg-5">
                <input asp-for="ServiceType.ServicePrice" class="form-control" readonly="true"/>
            </div>
            <span asp-validation-for="ServiceType.ServicePrice" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-3">
                <partial name="_DetailsAndBackToListButton"/>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

